services:
  stores:
    image: jameral/stores:latest
    environment:
      - SPRING_JPA_HIBERNATE_DDL_AUTO=create
      - SPRING_JPA_DEFER_DATASOURCE_INITIALIZATION=true

  api:
    image: maven:3.9-eclipse-temurin-21
    working_dir: /app
    volumes:
      - .:/app
    environment:
      - SPRING_APPLICATION_JSON={"stores":{"base-url":"http://stores:8080","page-size":200}}
      - EXT_STORES_BASE_URL=http://stores:8080
    command: >
      sh -lc "mvn -q -DskipTests spring-boot:run"
    depends_on:
      - stores
    ports:
      - "8080:8080"

  ui:
    image: node:20-alpine
    working_dir: /ui
    volumes:
      - ./merca-shop-ui:/ui
    command: >
      sh -lc "(test -f package-lock.json && npm ci) || npm install;
              npx ng serve --host 0.0.0.0 --port 4200 --proxy-config proxy.conf.json"
    ports:
      - "4200:4200"
    depends_on:
      - api

volumes:
  m2: