services:
  api:
    image: maven:3.9-eclipse-temurin-21
    working_dir: /app
    volumes:
      - .:/app
      - m2:/root/.m2
    environment:
      SPRING_PROFILES_ACTIVE: h2
    command: >
      sh -lc "mvn -q -DskipTests spring-boot:run"
    ports:
      - "8080:8080"
volumes:
  m2:
